body{
    background-color: #181818;
    color: aliceblue;
}

.myborder{
    --bs-border-opacity: .5 !important;
}

.myfont{
    font-size: 4.5rem;
}

.img-fluid {
    max-width: 106%;
    height: 105%;
}

.feauter-icon{
    width: 80px;
    height: 80px;
}
.feature-card{
    -webkit-box-shadow: 0px 10px 154px -55px rgba(1,152,117,0.9);
-moz-box-shadow: 0px 10px 154px -55px rgba(1,152,117,0.9);
box-shadow: 0px 10px 154px -55px rgba(1,152,117,0.9);
}
.feature-card:hover{
    border: 3px solid #198754 !important;
    text-align: center;
}
#navbarnav{
    justify-content: end;
}

.features-list{
    list-style-type: none;
}

.features-list li svg:hover{
    color: #198754;
}

.features-small-icons{
    width: 25px;
    height: 35px;
    margin-right: 8px;
}
#navbarNav{
    justify-content: end;
}
.students-review{
    background-color: #181818;
}
.review-img{
    height: 100%;
    object-fit: cover;
}
.page-link{
    background-color: #181818;
    border: 1px solid wheat; 
    color: wheat;
}

.img-0020{
    height: 500px;
    object-fit: cover;
}
.team-member{
    height: 300px;
    object-fit: cover;
}